body {
    background-color:#1aab45;
}

p {
    color:
#82a1bf;
}
font-family: Cormorant Garamond;

p { color: p {#f2f7f4; }

h1 { color: #ffb13d; }

h2 { color: #ffb13d; }

style="border: 4px #f2f7f4;"
